//Colors
$main-background: #eee;
$color-header-bgc: #16a085;
$color-header-text: #ecf0f1;

//Fonts
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

$font-size-base: 10px;
$font-header: 'Indie Flower',
cursive;

//Grid
$gutter: 15px;